.ToolsContainer {
  height: 100%;
  margin-bottom: 20%;
}

.ToolsContent {
  margin-top: 5vh;
  height: 100%;
  /* margin-bottom: 20%; */
}

.ToolsHeader {
  background-color: #8347AD;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 4vh;
  flex-flow: row wrap;
}

.CardDiv {
  
}

.ToolsContainer .MuiButton-root {
  background-color: #490E67;
  color: white;
}

.ToolsContainer .MuiButton-root:hover {
  background-color: #8347AD;
  color: #FFC845;
}

/* WRITE MEDIA QUERY FOR VERTICAL CARD LAYOUT */
/* @media (max-width: 700px) {
  .MuiGrid-container {
    flex-direction: column;
    margin: 2%;
  }
} */

.ToolsContainer .MuiIconButton-root {
  border-radius: 0;
}
/* .matterIntakeCard:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
} */