.Intro {
  padding-top: 20%;
  text-align: center;
  padding-bottom: 20%;

  color: white;
  border: 25px solid rgb(55, 169, 245);
  background-color: rgb(49, 49, 49);
}

.NavButtons {
  padding-top: 5%;
}