.App {
  display: flex;
  text-align: center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}



.Intro {
  display: flex;
  height: 100vh;
  width: 97vw;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgb(49, 49, 49);
}

.NavButtons {
  /* padding-top: 5%; */
}


.IntroContent {
  margin-top: 30vh;
}

.About {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 97vw;
  color: white;
  background-color: rgb(49, 49, 49);
}

.AboutMe {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 60%;
  line-height: 1.5em;
}

.AboutMe p {
  width: 40vw;
}

.Skills {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 45vh;
  align-content: center;
  /* background-color: darkcyan; */
}

.SkillsContent {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 100%;
}

.SkillsList {
  display: flex;
  height: 50%;
  flex-direction: column;
  line-height: 2rem;
  /* background-color: darkgreen; */
}

hr {
  width: 45%;
}



.Projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  height: 100vh;
  width: 97vw;
  color: white;
  background-color: rgb(49, 49, 49);
  /* background-color: black; */
  /* padding-bottom: 20%; */
}

.ProfessionalProjects {
  /* align-self: center; */
}

.ProProjectContent {
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  /* background-color: bisque; */
}

.Projects ul {
  text-align: left;
}

.Footer {
  color: white;
  display: flex;
  height: 10vh;
  width: 100vw;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
}

.FooterLinks {
  display: flex;
  height: 70%;
  flex-direction: row;
  justify-content: center;
}

.FooterText {
  height: 30%;
}

.MuiButton-label {
  color: white;
}

.NavButtons .MuiIconButton-label {
  color: cyan;
}

.Footer .MuiIconButton-label {
  color: white;
}

.Footer .MuiButton-label {
  color: white;
}

.Footer .MuiIconButton-label:hover {
  color: cyan;
}

.Footer .MuiButton-label:hover {
  color: cyan;
}

.MuiButton-root:hover {
  color: rgb(49, 49, 49);
}

.NavButtons .MuiButton-label:hover {
  color: cyan;
}

@media (max-width: 740px) {
  .App {
    height: 100%;
    align-items: center;
  }

  .Intro {
    height: 120vh;
  }

  .About {
    height: 170vh;
    width: 97%;
    flex-direction: column;
  }

  .AboutMe {
    width: 100%;
    height: 55%;
    /* margin-left: 3%; */
    /* text-align: left; */
    /* background-color: cyan; */
  }

  .AboutMe p {
    display: inline-block;
    width: 100%;
  }

  hr {
    width: 95%;
  }

  .Skills {
    height: 35%;
    width: 97%;
    flex-direction: column;
    /* background-color: darkblue; */
  }

  .SkillsContent {
    height: 50%;
  }

  .ProProjectContent {
    flex-direction: column;
  }

  .Projects {
    height: 300vh;
    /* display: flex; */
    /* justify-content: center; */
  }

  .ProProjectContent {
    display: flex;
    height: 1200px;
  }

  #matterIntakeMedia {
    padding-top: 0%;
    height: 200px;
  }

  #matterIntakeCard {
    /* padding-bottom: 5; */
  }

  #legalHubCard {
    height: 400px;
    /* padding-top: 5%; */
  }

  #matterIntake {
    /* height: 300px; */
  }
}