@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.App {
  display: flex;
  text-align: center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 49, 49);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 1rem;
}

.Intro {
  display: flex;
  height: 100vh;
  width: 97vw;
  align-content: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: rgb(49, 49, 49);
  /* white-space: nowrap;
  overflow: hidden; */

}

.IntroContent {
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  width: 330px;
}

.IntroTyping p {
  border-right: .15em solid cyan;
  font-family: "Source Code Pro";
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
}

.IntroTyping p:nth-child(1) {
  margin-left: 20%;
  width: 200px;
  /* manually set width */
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.IntroTyping p:nth-child(2) {
  width: 335px;
  /* manually set width */
  opacity: 0;
  -webkit-animation: type3 5s steps(40, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(40, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }

  99.9% {
    border-right: .15em solid cyan;
  }

  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }

  99.9% {
    border-right: .15em solid cyan;
  }

  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  99.9% {
    border-right: .15em solid cyan;
  }

  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  99.9% {
    border-right: .15em solid cyan;
  }

  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }

  1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

.IntroContent {
  margin-top: 30vh;
}

.About {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 97vw;
  color: white;
  background-color: rgb(49, 49, 49);
}

.AboutMe {
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: 60vw;
  line-height: 1.5em;
}

.AboutMe p {
  width: 40vw;
}

.Skills {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 45vh;
  align-content: center;
  /* background-color: darkcyan; */
}

.SkillsContent {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  height: 100%;
}

.SkillsList {
  display: flex;
  height: 50%;
  flex-direction: column;
  line-height: 2rem;
  /* background-color: darkgreen; */
}

hr {
  width: 45%;
}

.Projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  height: 170vh;
  width: 97vw;
  color: white;
  background-color: rgb(49, 49, 49);
  /* background-color: black; */
  /* padding-bottom: 20%; */
}

.ProProjectContent {
  display: flex;
  /* height: 200%; */
  /* background-color: black; */
  /* width: 80vw; */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ProjectRow1 {
  display: flex;
  height: 50%;
  flex-direction: row;
  width: 80vw;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

.ProjectRow2 {
  display: flex;
  height: 50%;
  flex-direction: row;
  width: 80vw;
  justify-content: space-evenly;
}

.Projects ul {
  text-align: left;
}

.Footer {
  color: white;
  display: flex;
  height: 10vh;
  width: 100vw;
  flex-direction: column;
  background-color: rgb(34, 34, 34);
  position: sticky;
}

.FooterLinks {
  display: flex;
  height: 70%;
  flex-direction: row;
  justify-content: center;
}

.FooterText {
  height: 30%;
}

.MuiButton-label {
  color: white;
}

.NavButtons .MuiIconButton-label {
  color: white;
}

.NavButtons .MuiIconButton-label:hover {
  color: cyan;
}

.Footer .MuiIconButton-label {
  color: white;
}

.Footer .MuiButton-label {
  color: white;
}

.Footer .MuiIconButton-label:hover {
  color: cyan;
}

.Footer .MuiButton-label:hover {
  color: cyan;
}

.MuiButton-root:hover {
  color: rgb(49, 49, 49);
}

.NavButtons .MuiButton-label:hover {
  color: cyan;
}

@media (max-width: 1100px) {
  .Projects {
    height: 300vh;
  }

  .CardHolder {
    margin-bottom: 10%;
  }

  .ProjectRow1 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .ProjectRow2 {
    flex-direction: column;
    align-items: center;
  }

  .AboutMe {
    /* height: 200vh; */
    width: 80vw;
  }

  .AboutMe p {
    width: 80vw;
  }

  .Bio {
    width: 80vw;

  }

  .Skills {
    width: 80vw;
  }
}

@media (max-width: 740px) {
  .App {
    height: 100%;
    align-items: center;
  }

  .Intro {
    height: 120vh;
  }

  .About {
    height: 170vh;
    width: 97%;
    flex-direction: column;
  }

  .AboutMe {
    width: 100%;
    height: 55%;
  }

  .AboutMe p {
    display: inline-block;
    width: 100%;
  }

  hr {
    width: 95%;
  }

  .Skills {
    height: 35%;
    width: 97%;
    flex-direction: column;
    /* background-color: darkblue; */
  }

  .SkillsContent {
    height: 50%;
  }

  .ProProjectContent {
    flex-direction: column;
  }

  .Projects {
    height: 300vh;
    flex-direction: column;
    /* display: flex; */
    /* justify-content: center; */
  }

  .ProProjectContent {
    flex-direction: column;
    /* height: 1200px; */
  }

  .ProjectRow1 {
    flex-direction: column;
    margin-bottom: 0;
  }

  .ProjectRow2 {
    flex-direction: column;
  }

  .CardHolder {
    margin-bottom: 10%;
  }

  .IntroTyping p {
    font-size: 20px;
  }
}

@media (max-width: 275px) {
  .About {
    height: 200vh;
  }

  .scrollTop {
    bottom: 20px;
  }
}


.scrollTop {
  /* background-color: black; */
  color: cyan;
  position: fixed;
  width: 100%;
  bottom: 20px;
  right: 15%;
  align-items: center;
  height: 80px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.2s;
  transition: opacity 0.2s;
  opacity: 1;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.scrollTop .MuiSvgIcon-root {
  width: 400px;
}